@mixin respond-to($min-width, $max-width: false) {
  @media screen and (min-width: $min-width) {
    @if $max-width {
      @media (max-width: $max-width) {
        @content
      }
    } @else {
      @content;
    }
  }
}

// @mixin divider_horizontal {
// 	content: ''; 
// 	clear: both; 
// 	display: block; 
// 	height: 2px;
// 	border-radius: 1px;
// 	background: $colour-primary_background;
// 	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
// }

@mixin clearfix {
  &:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }
}
